@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Luckiest+Guy&family=Protest+Strike&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li {
    width: 20px;
    display: flex;
    gap: 7px;
    list-style: none;
    margin: 15px;
    padding-top: 5px;
    font-weight: bold;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.bg-greyy {
    background-color: #141414;
}

.heading {
    padding-top: 2px;
    padding: 12px 15px;
    gap: 12px;
    align-items: center;
    font-weight: bold;
}

.heading img {
    width: 30px;
}
.hamburgercont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.library {
    min-height: 78vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 8px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.header>* {
    padding: 20px;
}

.Spotifyplaylists {
    padding: 15px;
}

.cardContainer {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 69vh;

}

.card {
    width: 180px;
    padding: 15px;
    border-radius: 5px;
    background-color: #121212;
    position: relative;

}

.card>* {
    padding-top: 9px;
}

.card img {
    border-radius: 5px;
    width: 100%;
    object-fit: contain;
}

.card h2 {
    font-weight: 400;
    font-size: 22px;

}

.card p {
    font-weight: 400;
    color: #6a6a6a;
}

.card:hover {
    background-color: #252525;

    .play {
        opacity: 1;
        top: 150px
    }
}

.play {
    position: absolute;
    top: 200px;
    left: 150px;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.buttons>* {
    margin: 0 10px;

}
.hamburger{
    display:none;
}
.close{
    display: none;
}


.signupbtn {
    background-color: #121212;
    font-size: 16px;
    color: grey;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    font-size: 16px;
    /* background-color: white; */
    color: black;
    border-radius: 21px;
    width: 70px;
    padding: 11px;
    font-weight: 500px;
    cursor: pointer;
}

.loginbtn:hover {
   font-weight: bolder;
   font-size:16px; 
    
}
.playbar{
    height: 50px;
    position: fixed;
    bottom:6px;
    filter: invert(1);
    background-color:#dad5d5;
    width: 69vw;
    padding: 16px;
    margin: 0px;
    border-radius: 10px;
    
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 15px;
    
}
.songbuttons img{
    cursor: pointer;
}
.songlist{
    height: 500px;
    padding: 0 10px;
    overflow: auto;
    margin-bottom: 0px 0;
    
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 12px 0;
    cursor: pointer;
    border:1px solid white;
    margin: 12px 0;
    padding: 10px;   
    border-radius: 5px; 
   
}

.playnow span{
    font-size: 12px;
    width: 50px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.seekbar{
    width: 98%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 7px;
    color: white;
    margin-left: 0.5px;
    background: black;
    border-radius: 2px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5.5px;
    transition: left 0.5s;
    cursor: pointer;
}
.songtime{
    width: 80px;
}
.songinfo,.songtime{
    color: black;
    padding: 0 8px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1300px) {
    .left{
       position: absolute;
       z-index: 1;
       left: -120%;
       transition:all 1s ;
       width: 350px;
       background-color: black;
    }
    .close {
        display: block;
        position: absolute;
        right: 31px;
        top: 30px;
    }
    .right{
        width: 100%;
    }
    .playbar{
        width: 90vw;
    }
    .seekbar{
        width: 97%;
    }
    .hamburger{
        display: block;
    }
    /* .card{
        width:70vw;
         justify-content: center;
         margin: 0px;
         padding: 0px;
    }
    .cardContainer{
        width: 100vw;
       /* flex-direction:column; */
       /* justify-content: center;
       padding: 0px;
       margin: 0px;
    }  */
    
 }
/* @media (max-width:1150) {
    .cardContainer{
        flex-direction:column;
        justify-content: space-evenly;
        padding: 0px;
        margin: 0px;
     }
    
} */ 

.timevol{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.volume{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}