.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.rounded{
    border-radius: 9px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
/* For Firefox */
/* width */
::-moz-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-moz-scrollbar-track {
    background: #333;
  }
  
  /* Handle */
  ::-moz-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }
  
  /* For WebKit */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }
  
  /* For IE and Edge */
  /* width */
  body {
    scrollbar-width: thin;
  }
  
  /* Track */
  body::-webkit-scrollbar {
    background-color: #333;
    width: 10px;
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
  }
  